@namespace Bizer.AspNetCore.Components
@inherits BizerComponentBase
@typeparam TItem

<div class="table-responsive">
<table @attributes="@GetAttributes()">
    @if (!string.IsNullOrEmpty(Caption))
    {
        <caption>@Caption</caption>
    }
    @if (HeaderTemplate is not null)
    {
        <thead class="@HeaderClass">
            @HeaderTemplate
        </thead>
        }
        <tbody class="@BodyClass">
            @for (var i = 0; i < DataSource.Count(); i++)
            {
                var key = i;
                var item = DataSource.ElementAt(i);
                <tr @key="key">
                    @RowTemplate?.Invoke(item)
                </tr>
            }
        </tbody>


    @if(FooterTemplate is not null)
    {
        <tfoot class="@FooterClass">
            @FooterTemplate
        </tfoot>
    }
    </table>
</div>