@page "/toast"


@inject IToastService ToastService

<Button Color="Color.Primary" @onclick="@(e=>ToastService.ShowNotificationInfo("Info"))">
    Info
</Button>

<Button Color="Color.Warning" @onclick="@(e=>ToastService.ShowNotificationWarning("Warning"))">
    Warning
</Button>

<Button Color="Color.Success" @onclick="@(e=>ToastService.ShowNotificationSuccess("Success"))">
    Success
</Button>

<Button Color="Color.Danger" @onclick="@(e=>ToastService.ShowNotificationDanger("Danger"))">
    Danger
</Button>

@code{
    RenderFragment? GetToastHeader() =>@<Icon Name="@("info-circle")"/>;

    RenderFragment? Control =>@<Button Color="Color.Primary">确认</Button>;
}