@page "/toast"


@inject IToastService ToastService

<Button Color="Color.Primary" @onclick="@(e=>ToastService.ShowNotificationInfo("Info"))">
   Notification
</Button>

<Button Color="Color.Warning" @onclick="@(e=>ToastService.ShowNotificationWarning("Warning"))">
    Notification
</Button>

<Button Color="Color.Success" @onclick="@(e=>ToastService.ShowNotificationSuccess("Success"))">
    Notification
</Button>

<Button Color="Color.Danger" @onclick="@(e=>ToastService.ShowNotificationError("Danger"))">
    Notification
</Button>

<br />
<Button Color="Color.Primary" @onclick="@(e=>ToastService.ShowTipInfo("New tips"))">
   Tip
</Button>
<Button Color="Color.Warning" @onclick="@(e=>ToastService.ShowTipWarning("New tips"))">
    Tip
</Button>

<Button Color="Color.Success" @onclick="@(e=>ToastService.ShowTipSuccess("New tips"))">
    Tip
</Button>

<Button Color="Color.Danger" @onclick="@(e=>ToastService.ShowTipError("New tips"))">
    Tip
</Button>
<br />
<Button Color="Color.Primary" @onclick="@(e=>ToastService.ShowOperationInfo("你有一条消息"))">
    Operation
</Button>
<Button Color="Color.Warning" @onclick="@(e=>ToastService.ShowOperationWarning("警告操作"))">
    Operation
</Button>
<Button Color="Color.Success" @onclick="@(e=>ToastService.ShowOperationSuccess("提交成功"))">
    Operation
</Button>
<Button Color="Color.Danger" @onclick="@(e=>ToastService.ShowOperationError("操作失败"))">
    Operation
</Button>